html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}
.title-img{
  background-size: cover;
  background-position: 20% 40%;
  height: 100vh;
  background-image: url("https://www.futurewater.eu/wp-content/uploads/2020/06/Waterschaarste.jpg");
}
.space{
  height: 30vh;
}

.tears{
  position:center;
  width: 100%;
  text-align: center;
  padding: 3%;
}

.tear{
  padding: 5%;
  max-width: 60%;
}

img{
  max-width: 100%;
  height: auto;
}

.title{
  width: 100%;
  text-align: center;
  background-color: white;
  font-size: 500%;
  color: #7a7a52;
}

.text{
  color: black;
  background-color: white;
  font-size: 150%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.text-img{
  height: 40vh;
  width:100%;
}

.titles-h1{
  font-size:300%;
  color: #7a7a52;
  background-color: white;
  text-align: center;
  padding: 5%;
}
.titles-h2{
  font-size:200%;
  color: #7a7a52;
  background-color: white;
  text-align: center;
  padding: 5%;
}
