html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: var(--bs-font-sans-serif);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title-img {
  background-size: cover;
  background-position: 20% 40%;
  min-height: 85vh;
  background-image: url("https://www.futurewater.eu/wp-content/uploads/2020/06/Waterschaarste.jpg");
}

.space {
  height: 10vh;
}

.tears {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.tear {
  padding: 15%;
  height: 60vh;
}

img {
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .tears {
    display: block;
  }

  .tear {
    padding: 0%;
    height: 34vh;
  }

  .space {
    height: 5vh;
  }
}

.title {
  font-size: 8vw;
  letter-spacing: 3rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

.text {
  color: black;
  background-color: white;
  font-size: 200%;
  text-align: center;
  margin-bottom: 10vh;
  margin-right: 5vh;
  margin-left: 5vh;
}

.text-img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.line-img {
  height: 3vh;
  width: 100%;
}

.titles-h3 {
  font-size: 400%;
  color: black;
  text-transform: uppercase;

  text-align: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
  letter-spacing: 1rem;
}

.titles-h4 {
  font-size: 300%;
  color: black;
  border-bottom: 3px solid #b4c6dd;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5vh;
  margin-right: 5vh;
  margin-left: 5vh;
  letter-spacing: 0.5rem;
}
