html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: var(--bs-font-sans-serif);
}
.title-img {
  background-color: rgb(105, 105, 204);
  height: 85vh;
  background-size: cover;
  background-position: 20% 40%;
  height: 100vh;
  background-image: url("https://www.futurewater.eu/wp-content/uploads/2020/06/Waterschaarste.jpg");
}
.space{
  height: 10vh;
}

.tears{
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.tear{
  padding: 15%;
}

img{
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 950px) {
  .tears {
    display: block;
  }
  .tear {
    padding: 0%;
    height: 40vh;
  }
}

.title{
  width: 100%;
  text-align: center;
  background-color: white;
  font-size: 500%;
  color: black;
  letter-spacing: 3rem;
}

.text{
  color: black;
  background-color: white;
  font-size: 200%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.text-img{
  height: 40vh;
  width:100%;
}
.line-img{
  height: 3vh;
  width:100%;
}

.titles-h1{
  font-size:400%;
  color: black;
  background-color: white;
  text-align: center;
  padding: 5%;
}
.titles-h2{
  font-size:300%;
  color: black;
  background-color: white;
  text-align: center;
  padding: 5%;
}