.title-img {
  background-size: cover;
  background-position: 0% 50%;  
  min-height: 85vh;
  background-image: url("https://www.futurewater.eu/wp-content/uploads/2020/06/Waterschaarste.jpg");
}

.space {
  height: 10vh;
}

.mini-space {
  height: 7vh;
}

.tears {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.tear {
  padding: 5%;
  margin: 0 0 0 0px;
  max-height: 65vh;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .tears {
    display: block;
  }

  .tear {
    padding-top: 10%;
    max-height: 40vh;
    max-width: 48%;
  }

  .space {
    height: 3vh;
  }

  .mini-space {
    height: 0vh;
  }
}

.title {
  font-size: 8vw;
  letter-spacing: 3rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

.text {
  color: black;
  background-color: white;
  font-size: 200%;
  text-align: center;
  margin-bottom: 10vh;
  margin-right: 5vh;
  margin-left: 5vh;
}

.text-img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

body .main-border {
  height: 3vh;
  width: 100%;
  background: #b4c6dd;
}

.titles-h3 {
  font-size: 400%;
  color: black;
  text-transform: uppercase;

  text-align: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
  letter-spacing: 1rem;
}

.titles-h4 {
  font-size: 300%;
  color: black;
  border-bottom: 3px solid #b4c6dd;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5vh;
  margin-right: 5vh;
  margin-left: 5vh;
  letter-spacing: 0.5rem;
}
