html {
  font-size: 62.5%;
}

nav {
  position: sticky;
}

body {
  overflow-x: hidden;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #082644;
}

.intro-home {
  height: 100vh;
  background: linear-gradient(rgba(6, 37, 104, 0.5), rgba(1, 8, 37, 0.226));
  background-size: cover;
  background-position: 20% 40%;
}

header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(45, 83, 165, 0.05);
  mix-blend-mode: color;
}

.main-intro .title {
  margin: 0 0 0 0px;
  padding: 0 0 0 0px;
  position: absolute;
  top: 38%;
  width: 60%;
  left: 20%;
  right: 20%;
  z-index: 2;
}

.main-intro .drops {
  margin: 0 0 0 0px;
  position: absolute;
  bottom: 0;
  max-width: 100%;
  padding: 0 0 0 0px;
  right: 0;
  z-index: 1;
}

.main-intro .basic {
  position: absolute;
  height: 100vh;
  min-width: 100%;
  padding: 0 0 0 0px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.main-intro .upwater {
  position: absolute;
  max-width: 100%;
  max-height: 100vh;
  padding: 0 0 0 0px;
  top: 0;
  left: 0;
  z-index: 0;
}

main {
  font-size: 1.8rem;
}

.title {
  margin-bottom: 3%;
  margin-top: 5%;
  color: black;
  font-size: 4rem;
  text-align: center;
  position: relative;
  top: 100px;
  padding-bottom: 0%;
  text-transform: uppercase;
  margin-left: 2%;
  margin-right: 2%;
}

.border {
  position: absolute;
  width: 96%;
  height: 5px;
  background-color: #bcd6e6;
  bottom: 3;
  left: 2%;
  right: 10%;
}

.text {
  top: 100px;
  padding-top: 2%;
  padding-right: 4%;
  padding-left: 4%;
  height: 100vh;
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 5 rem;
  color: black;
  text-align: left;
  white-space: break-spaces;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 410px;
}

@media screen and (max-width: 600px) {
  .text{
    margin-bottom: 700px;
  }
}

.waterdrop {
  width: 80%;
  margin-top: 10%;
  margin-bottom: 5%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 20%;
  z-index: 2;
  margin-left: 10%;
}

.recommendations {
  position: relative;
  display: flex;
}
.recommendations .waterplants {
  width: 100%;
  position: relative;
}

.whatyoucan {
  margin-top: 5%;
  margin-bottom: 2%;
  color: black;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.recommendations .rec {
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 1.8rem;
  margin-bottom: 10%;
}
