nav {
  top: 0%;
  position: sticky;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.intro-home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: 20% 40%;
}

/*
header{
  width:100%;
  height:100vh;
  background-position: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top,#ffff,transparent);
  z-index: 2;
} */

header::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 20;
  mix-blend-mode: color;
}

.main-intro .drops{
  margin: 0 0 0 0px; 
  position: absolute;
  bottom: 0;
  width: 1000px;
  right: 0;
  z-index: 19;
  /*object-fit: cover;*/
}

.main-intro .basic{
  position: absolute;
  width: 1903px;
  bottom: 0;
  left: 0;
  z-index: 18;
}

.main-intro .upwater{
  position: absolute;
  width: 1600px;
  bottom: 150px;
  left: 0;
  z-index: 20;
}

main {
  font-size: 2rem;
}
 

.title{
  margin-bottom: 3%;
  margin-top: 5%;
  color: black;
  font-size:4rem;
  text-align:center;
  position: relative;
  /*margin-right: 150px;*/
  /*position: relative; */
  top: 100px;
  padding-bottom: 0%;
  text-transform: uppercase;
  margin-left: 2%;
  margin-right: 2%;
}

.border{
  position: absolute;
  width: 96%;
  height: 5px;
  background-color:#bcd6e6;
  bottom: 3;
  left: 2%;
  right: 10%;
}

.text{
  top: 100px;
  padding-top: 2%;
  padding-right: 4%;
  padding-left: 4%;
  height: 100vh;
  
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 5 rem;
  color: black;
  text-align: left;
  /*font-weight: 600; */
  white-space: break-spaces;
  position: relative;
  
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 450px;
}

.waterdrop{
  width: 50%;
  /*margin: 0 0 0 250px;*/
 /* transform: translateY(-900px);*/
  margin-top: 10%;
  margin-bottom: 10%;
  /*position: relative; */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 20%;
  z-index: 2;
  margin-left:25%;
}
