body {
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(238, 249, 252);
  top: 0%;
  position: sticky;
  overflow-x: clip;
  z-index: 3;
  width: 100%;
  height: 15vh;
  cursor: pointer;
  transition: top 0.3s;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
}

.nav-links li {
  list-style: none;
  text-align: center;
}

.nav-links a {
  display: flex;
  text-decoration: none;
  letter-spacing: 0.3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #7e939a;
  margin-left: 2.5vh;
  margin-right: 2.5vh;
  align-items: center;
  position: relative;
}

.nav-links a:after {
  /*grammi katw apo tis epiloges tou menu*/
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.22rem;
  left: 50%;
  position: absolute;
  background: #7e939a;
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0;
}

.nav-links a:hover {
  color: #7e939a;
}

.nav-links a:hover:after {
  width: 100%;
  left: 0;
}

.mobile-nav {
  display: none;
}

.mobile-nav div {
  /* grammoules menu panw deksia */
  width: 25px;
  height: 3px;
  background-color: #7e939a;
  margin: 5px;
  margin-right: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    position: absolute;
    right: 0vh;
    height: 85vh;
    top: 15vh;
    background-color: rgb(238, 249, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .mobile-nav {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
