html {
  font-size: 62.5%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.background-search {
  min-height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1584724108955-df06aa3ff929?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-position: 0% 45%;
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search h3 {
  color: white;
  margin: 30px;
  font-size: 5rem;
  text-align: center;
}

input {
  font-size: 2.5rem !important;
  border: none;
}

input:focus {
  outline: none;
}

.search-box {
  margin: auto;
  border: 5px solid #7e939a;
  height: 60px;
  width: 400px;
  border-radius: 50px;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
