.background-search {
  min-height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("pictures/hand-washing.jfif");
  background-size: cover;
  background-position: 0% 45%;
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search h3 {
  color: white;
  margin: 30px;
  font-size: 5rem;
  text-align: center;
}

input {
  font-size: 2.5rem;
  border: none;
}

input:focus {
  outline: none;
}

.search-box {
  margin: auto;
  border: 5px solid #7e939a;
  height: 60px;
  width: 400px;
  border-radius: 50px;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

form button {
  background: none;
  color: #7e939a;
  font-size: 3rem;
  border: none;
  border-left: none;
  cursor: pointer;
}
